/* body */
body {
  background-image: url("../images/beans.jpeg");
  font-family: sans-serif;
  padding: 20px;
}

/* container */
.menu {
  background-color: burlywood;
  width: 80%;
  margin: 0 auto;
  max-width: 500px;
  padding: 20px;
}

/* headers and paragraphs */
h1,
h2,
p {
  text-align: center;
}

h1 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

h2 {
  font-size: 30px;
}

h1,
h2 {
  font-family: Impact, serif;
}

.established {
  font-style: italic;
}

/* break line */
hr {
  height: 2px;
  background-color: brown;
  border-color: brown;
}

.bottom-line {
  margin-top: 25px;
}

/* items */
.item {
  display: flex;
  justify-content: space-between;
}

.item p {
  margin: 5px 0;
  font-size: 18px;
}

/* footer */
footer {
  font-size: 14px;
}

a {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: brown;
}

a:active {
  color: brown;
}
