body {
  background-image: url("../images/beans.jpeg");
  font-family: sans-serif;
  padding: 20px;
}

.menu {
  background-color: burlywood;
  width: 80%;
  margin: 0 auto;
  max-width: 500px;
  padding: 20px;
}

h1,
h2,
p {
  text-align: center;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h1,
h2 {
  font-family: Impact, serif;
}

.established {
  font-style: italic;
}

hr {
  height: 2px;
  background-color: brown;
  border-color: brown;
}

.item {
  display: flex;
  justify-content: space-between;
}

.item p {
  margin: 5px 0;
  font-size: 18px;
}
